.listfilms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* padding: 6rem; */
    /* color: red;e */
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    top: 0px;
    margin: 24px;
    margin-top: 0px;
    gap: 10px;
  }
  
  .onefilm {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* /* justify-content; */
    top: 0px;
    margin: 2px;
    border-radius: 8px;
    background: white;
    width: 70vw;
    /* text-align:justify; */
    /* justify-content : center; */
  }
  .filmsInfo {
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .filmsTitle{
    font-size: 20px;
    font-weight: 600;
  }
  
  .filmsYear {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
  }
  
  .filmsBox {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
  }